*{
    margin: 0;
    padding: 0;
    /* top: 0;
    left: 0; */
}
body{
    font-family: 'Roboto';
    color: white;
    overflow-x: hidden;
}
.container{
    position: relative;
    display: flex;
    /* justify-content: center; */
    height: 100%;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-top: 35vh;
    margin-left: calc(30% - 10px);
}
div.logo img{
    position: fixed;
    top: 2em;
    right: 2em;
    max-width: 400px;
}

div .col-12{
    width: 100%;
    /* display: flex; */
    /* justify-content: center; */
    /* text-align: right; */
}

div .col-6{
    width: 50%;
}

div .col-4{
    width: 33.333%;
    /* display: flex; */
    /* justify-content: right; */
}

.paragraph{
    font-size: 2.6em;
    text-align: right;
}

div .col-12 p{
    text-align: right;
}

.container h1{
    font-size: 7em;
}
.background{
    position: fixed;
    top: 0;
    left: 0;
}
.btn{
    border: none;
    background-color: rgba(0,0,0,.1);
    color: white;
    font-size: 3em;
    font-weight: 700;
    padding: .2em .4em .3em .4em;
    text-align: center;
    vertical-align: center;
    float: right;
    margin-top: 1em;
    border-radius: 10%;
}
.btn:hover{
    cursor: pointer;
    background-color: rgba(45,30,34,.3);
}
