.header{
    position: absolute;
    width: 100%;
    display: flex;
    height: auto;
    justify-content: center;
    z-index: 2;
    font-size: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    /* font-weight: 600; */
    color: rgba(255, 255, 255, 0.411);
}

.header nav{
    position: relative;
    display: flex;
    width: 100%;
}

.header nav ul{
    position: relative;
    width: 100%;
    background-color: rgba(33, 34, 33, 0.274);
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 4rem;
}

.header nav ul.nav-brand{
    width: 300px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.nav-brand img{
    height: 2.9rem;
    display: flex;
    position: relative;
    align-items: center;
}

.header nav ul li{
    position: relative;
    display: inline;
    padding: 0 2rem;
}
.header a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.651);
}

.header a:hover{
    text-decoration: underline;
    text-decoration-color: rgb(97, 218, 251);
    color: rgb(97, 218, 251);
}