:root{
    --brand-color: #f07e00;
    --first-color: #0e71b8;
    --second-color: #4a4a49;
    
    --border-color: #aaa7a7;

    --chart-size: 180px;
    --container-max-width: 700px;
    --font-weight-p: 600;
}
@font-face {
    font-family: UniformCondensed;
    src: url("../../assets/fonts/Uniform-Condensed-Bold.woff") ,
        url("../../assets/fonts/Uniform-Condensed-Regular.ttf");    
    font-weight: normal;
}


*{
    margin: 0;
    padding: 0;
}
html body{
    
    font-family: Arial, Helvetica, sans-serif;
    color: var(--second-color);
    font-weight: calc(var(--font-weight-p) - 100);
}

.container{
    position: relative;
    width: 100%;
    max-width: var(--container-max-width);
    margin: 0 auto;
    min-height: 100vh;
    height: auto;

    display: grid;
    grid-template-areas: 
    'hdate hdate hdate hdate hdate hdate hdate hdate hdate hdate'
    'hleft hleft hleft hleft hright hright hright hright hright hright'
    'acont acont acont acont acont acont acont acont acont acont'
    'aleft aleft aleft aleft aleft aright aright aright aright aright'
    'bcont bcont bcont bcont bcont bcont bcont bcont bcont bcont'
    'bleft bleft bleft bleft bleft bright bright bright bright bright'
    ;
    grid-template-rows: 2rem auto;
    /* grid-gap: 1px; */
    /* padding: 10px; */
    /* justify-items: center;
    align-items: center; */
}

.container > div {
    background-color: rgba(197, 194, 194, 0.8);
    margin-top: 5px;
}

.header-date{ grid-area: hdate; }
.header-left { grid-area: hleft; }
/* .header-center { grid-area: hcenter; } */
.header-right { grid-area: hright; }
.a-content { grid-area: acont; }
.a-left { grid-area: aleft; }
.a-right { grid-area: aright;  }
.b-content { grid-area: bcont; }
.b-left { grid-area: bleft; }
.b-right { grid-area: bright; }

.header-date{
    position: relative;
    display: grid;
    justify-content: flex-end;
}
.header-date span{
    color: var(--second-color);
    font-weight: var(--font-weight-p);
}
.header-left{
    position: relative;
    display: grid;
    align-items: center;
}
.header-left img{
    position: relative;
    display: grid;
    max-width: 150px;
    margin: 0 auto;
}
.header-right{
    position: relative;
    display: grid;
    align-items: center;
    justify-content: left;
}
.header-right ul{
    position: absolute;
    list-style: none;
    right: 0rem;
    padding: 0 3.5rem;
    border-left: 2px solid var(--brand-color);
}
.header-right ul li{
    line-height: 1.4rem;
    font-weight: var(--font-weight-p);
    color: var(--second-color);
}
.header-right ul span{
    display: inline-block;
    color: var(--first-color);
    font-weight: var(--font-weight-p);
    width: 100px;
}

.a-content{
    position: relative;
    display: grid;
    align-items: center;
    max-height: fit-content;
}
.a-content p{
    text-align: center;
    font-weight: var(--font-weight-p);
    color: var(--first-color);
}

.b-content{
    position: relative;
    display: grid;
    align-items: center;
}
.b-content table{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    color: var(--first-color);
    font-weight: calc(var(--font-weight-p)- 100)!important;
}
.b-content table{
    font-size: 1.1rem;
}
.b-content table td{
    margin: 2px;
    padding: .4rem 1rem;
    border-right: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
}
.b-content .gratefulness{
    text-align: center;
    text-transform: uppercase;
    color: var(--first-color);
    font-weight: var(--font-weight-p);
}
.td-total span{
    display: block;
    font-weight: var(--font-weight-p);
}
.td-total{
    text-align: center;
}

.b-content table tr:last-child td{
    border-bottom: inherit;
}
.b-content table tr:first-child td:last-child{
    border-bottom: inherit;
    border-right: inherit;
}

.b-content p{
    text-align: justify;
    font-weight: calc(var(--font-weight-p) - 100);
}

.b-left{
    position: relative;
    display: grid;
    justify-content: center;
    background-color: var(--brand-color);
}
.b-left a{
    text-decoration: none;
    display: grid;
    color: #fff;
}

.b-right{
    background-color: var(--brand-color);
}
.b-right ul{
    margin: 0 auto;
    list-style: none;
    position: relative;
    display:  grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: fit-content;
}
.b-right ul li{
    width: fit-content;
    margin: 0 5px;
}
.socialLinks a{
    display: grid;
    text-decoration: none;
}
.socialLinks img{
    max-width: 30px;
    cursor: pointer;
}