:root{
    --first-color: rgb(0,194,59,0.3);
    --second-color: #4BCA59;
    --third-color: #74D375;
    --fourth-color: #A3DF9D;
    --border-color: #008E1B;

    --blue-color: #223493;

    --chart-size: 180px;
    --container-max-width: 600px;
}

*{
    margin: 0;
    padding: 0;
}
html body{
    font-family: sans-serif;
    color: #000;
}
.container{
    position: relative;
    width: 100%;
    max-width: var(--container-max-width);
    margin: 0 auto;
    min-height: 100vh;
    height: auto;

    display: grid;
    grid-template-areas: 
    'hleft hleft hleft hright hright hright'
    'acont acont acont acont acont acont'
    'aleft aleft aleft aright aright aright'
    'bcont bcont bcont bcont bcont bcont'
    'ccont ccont ccont ccont ccont ccont'
    'dcont dcont dcont dcont dcont dcont';
    /* justify-content: center; */
    grid-gap: 1px;
    /* background-color: lightblue; */
    padding: 10px;
    /* justify-items: center;
    align-items: center; */
}

.container > div {
    /* background-color: rgba(197, 194, 194, 0.8); */
    margin-top: 10px;
}
.container > div:first-child {
    margin-top: 0px !important;
    padding-top: 0px !important;
}
.container > div.header-left{
    width: 100%;
    display: grid;
    align-self: end;
    justify-content: left;
}
.container > div.header-left > ul>li{
    list-style: none;
}

.container > div.header-right{
    width: 100%;
    display: grid;
    justify-content: right;
    align-self: center;
}

.container > div.a-content{
    position: relative;
    display: grid;
}

.container > div.a-content div, 
.container > div.c-content div{
    /* width: 80%; */
    margin: auto;
}
.a-content p, .c-content p{
    margin-top: 1rem;
    text-align: justify !important;
}

.container > div.b-left{
    display: grid;
    justify-content: right;
}

.container > div.b-right{
    display: grid;
    justify-content: left;
}
.container > div.b-right div{
    display: grid;
    width: 70%;
    align-content: center;
}
.container > div.b-right ul>li{
    padding-top: 3px;
    list-style: none;
    text-align: center;
}
.container > div.b-right ul{
    margin-top: 1em !important;
}
.p-blue{
    color: var(--blue-color);
}
h4.p-blue{
    font-weight: normal;
    font-size: 1.3rem;
}

.container > div.c-content{
    display: grid;
}


.header-left { grid-area: hleft; }
.header-right { grid-area: hright; }
.a-content { grid-area: acont; }
.a-left { grid-area: aleft; }
.a-right { grid-area: aright;  }
.b-content { grid-area: bcont; }
.c-content { grid-area: ccont; }
.d-content { grid-area: dcont; }

.img-logo{
    width: 100%;
    max-width: 120px;
}

.img-pet{
    width: 100%;
    max-width: 200px;
}

/* .socialIcon{
    padding: 0;
    outline: none;
    text-decoration: none;
    -ms-interpolation-mode: bicubic;
    border: none;
    display: block;
    cursor: inherit;
} */
.d-content div.block-links{
    display: grid;
    margin: auto;
    margin-top: 1rem;
}
.d-content div.block-links div{
    display: grid;
    justify-content: center;
}

#chartOne{
    width: var(--chart-size) !important;
    height: var(--chart-size) !important;
    margin: auto;
}

#chartTwo{
    width: var(--chart-size) !important;
    height: var(--chart-size) !important;
    margin: auto;
}

.text-justify{
    text-align: justify;
}
.text-center{
    text-align: center;
}
.bold{
    font-weight: 600;
}
p{
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
    text-align: center;
}


table{
    margin: 0 auto;
    width: 100%;
}

.table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table td, .table th {
    border: 1px solid var(--border-color);
    padding: 2px;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--first-color);
    color: var(--border-color);
    font-weight: bolder;

}

.table-inverse {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table-inverse td:first-child {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background-color: rgba(255, 159, 64, 0.2);
    color: rgba(213, 120, 28, 0.9);
    font-weight: bolder;
}
.table-inverse th{
    text-align: center;
    background-color: rgba(255, 159, 64, 0.2);
    color: rgba(213, 120, 28, 0.9);
    padding-top: 5px;
    padding-bottom: 5px;
}
.table-inverse .no-header td{
    background-color: transparent !important;
    color: #000 !important;
    font-weight: normal;
}

.table-inverse.sm{
    max-width: 300px !important;
}

.table-inverse td, .table-inverse th {
    border: 1px solid rgba(255, 159, 64, 1);
    padding: 2px;
}





.block-links{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 250px;
}
.socialLinks{
    display: grid;
    text-decoration: none;
}
.socialLinks img{
    max-width: 50px;
    cursor: pointer;
}
