*{
    margin: 0;
    padding: 0;
}
html body{
    font-family: sans-serif;
    color: #000;
}
.container{
    position: relative;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    min-height: 100vh;
    height: auto;

    display: grid;
    grid-template-areas: 
    'hleft hleft hleft hright hright hright'
    'acont acont acont acont acont acont'
    'aleft aleft aleft aright aright aright'
    'bcont bcont bcont bcont bcont bcont'
    'bleft bleft bleft bright bright bright'
    'ccont ccont ccont ccont ccont ccont';
    /* justify-content: center; */
    grid-gap: 10px;
    background-color: gray;
    padding: 10px;
}

.container > div {
    background-color: rgba(197, 194, 194, 0.8);
    /* justify-content: center; */
}
.header-left { grid-area: hleft; }
.header-right { grid-area: hright; }
.a-content { grid-area: acont; }
.a-left { grid-area: aleft; }
.a-right { grid-area: aright; }
.b-left { grid-area: bleft; }
.b-right { grid-area: bright; }
.b-content { grid-area: bcont; }
.c-content { grid-area: ccont; }

#chartOne{
    width: 300px;
    height: 200px;
}

#chartTwo{
    width: 300px;
    height: 200px;
}
.text-justify{
    text-align: justify;
}
.text-center{
    text-align: center;
}
.bold{
    font-weight: 600;
}
p{
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
}


table{
    margin: 0 auto;
    max-width: 600px;
}

.table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table td, .table th {
    border: 1px solid rgba(255, 159, 64, 1);
    padding: 2px;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgba(255, 159, 64, 0.2);
    color: rgba(213, 120, 28, 0.9);
    font-weight: bolder;

}

.table-inverse {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table-inverse td:first-child {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background-color: rgba(255, 159, 64, 0.2);
    color: rgba(213, 120, 28, 0.9);
    font-weight: bolder;
}

.table-inverse td, .table-inverse th {
    border: 1px solid rgba(255, 159, 64, 1);
    padding: 2px;
}
