<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0;">
        <meta name="format-detection" content="telephone=no" />
       
        <link href="//db.onlinewebfonts.com/c/58d1dea01043374550524409ab767ffb?family=Uniform-Medium" rel="stylesheet" type="text/css"/>
        <link href="//db.onlinewebfonts.com/c/3f0790dc920e46e8d9c39ee11c90cd25?family=Uniform" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="assets/css/styles.css">
        <!-- MESSAGE SUBJECT -->
        <title>Condominios</title>
        <style>
        </style>    
    </head>

    <body >
        <table id="mainTable">
            <tr>
                <td >

                    <table class="table-container">

                        <tr>
                            <td align="center">

                            <!-- LOGO -->
                            <a class="links" href="{{ url('/') }}">
                                <img src="assets/img/logo-lineas_1.svg"/>
                            </a><br>
                            </td>
                        </tr>

                        <!-- LIST -->
                        <tr>
                            <td align="center">
                                <table class="table">
                                    <!-- Datos del pago -->
                                    <tr>
                                        <td class="td">
                                            <div>
                                                <span> 
                                                    Estimado(a): MARCIA JIMENEZ MORENO ROMERO
                                                </span>
                                                <br/>
                                            <div>
                                            <div>
                                                <p>
                                                    Agradecemos su compra hecha el día 02 de agosto de 2021, por un importe de $1561.20. Le fueron surtidos
                                                    117.60 litros de gas tratado con nuestro exclusivo aditivo, el cual mejora sustancialmente la combustión del
                                                    gas brindandole considerables ahorros para beneficio de su economía.
                                                </p>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr class="tr-2">
                                        <td class="td3 tanque">
                                            <img src="assets/img/tanque.svg" alt="">
                                        </td>
                                        <td class="td3">
                                            <canvas id="grafica1" width="266" height="180"></canvas>
                                        </td>
                                        <td class="td3">
                                            <canvas id="grafica2" width="266" height="180"></canvas>
                                        </td>
                                    </tr>

                                    <tr class="tr-2">
                                        <td class="td2 p">
                                            <p>
                                                De acuerdo a nuestro sistema de pagos, 
                                                esta compra será cargada a su TARJETA DE 
                                                CREDITO SANTANDER MEXICANO en 2 pagos, en
                                                las siguientes fechas:
                                            </p>                                            
                                        </td>
                                        <td class="td2">
                                            <!-- <canvas id="grafica3" width="350" height="180"></canvas> -->
                                            <canvas id="myChart" width="400" height="200"></canvas>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div style="height: 30px; width: 100%;">
                                            </div>
                                        </td>                                        
                                    </tr>

                                    <tr class="tr-2">
                                        <td class="td2">
                                            <table class="table-cargos">
                                                <thead>
                                                    <tr>
                                                        <th>Cargo</th>
                                                        <th>Fecha</th>
                                                        <th>Importe</th>
                                                        <th>Uso sistema</th>
                                                        <th>Total</th>
                                                    </tr>                                                    
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>29-10-2021</td>
                                                        <td>50.25</td>
                                                        <td>11.54</td>
                                                        <td>61.79</td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>29-10-2021</td>
                                                        <td>50.25</td>
                                                        <td>11.54</td>
                                                        <td>61.79</td>
                                                    </tr>
                                                </tbody>
                                            </table>  
                                            <p style="text-align: center; padding: 0; line-height: 1rem;">SUMA PUNTOS</p> 
                                            <p style="text-align: center; padding: 0; line-height: 1rem;">ESTADO DE CUENTA</p>   
                                            <table class="table-other">
                                                <tbody>
                                                    <tr>
                                                        <td>Anteriores:</td>
                                                        <td>61.79</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Se acumularan:</td>
                                                        <td>61.79</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Saldo nuevo:</td>
                                                        <td>61.79</td>
                                                    </tr>
                                                </tbody>
                                            </table>                                    
                                        </td>
                                        <td class="td2">
                                            <div class="card">
                                                <h4 class="h4">Puntos acumulados</h4>
                                                <p>
                                                    Por esta compra usted acumulará 0 puntos más,
                                                    una vez que hayan sido realizados todos los
                                                    pagos oportunamente. Recuerde que al acumular
                                                    50 puntos los podrá canjear por 50 litros de 
                                                    ¡Gas Gratis!
                                                </p>
                                                <br>
                                                <img src="assets/img/cochito.svg" alt="" width="200px">
                                            </div>
                                        </td>
                                    </tr>

                                    <!-- Agradecimiento -->
                                    <!-- <tr>
                                        <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; padding: 0; padding-top: 2em; text-decoration: none;">
                                            <span style="color: #FE7D03; font-size: 30px; font-weight:200;  font-family: Uniform-Medium,  sans-serif">{{__('paid.lbl_agradecimiento_1')}}<br>
                                            <span style="color: #135eac;  font-size: 45px; font-weight:200; font-family: Uniform-Medium,  sans-serif">{{__('paid.lbl_agradecimiento_2')}}<br>
                                        </td>
                                    </tr> -->

                                    <!-- Pregunta-->
                                    <!-- <tr>
                                        <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; padding: 0; padding-top: 2em;">
                                            <strong><b style="color: #FE7D03; font-size: 20px; font-weight: 500;">{{__('paid.lbl_ayuda')}}</b></strong><br><br>
                                        </td>
                                    </tr> -->

                                    <tr>
                                        <td class="td">
                                            <div>
                                                <p class="msj-inicio">                                                                                                        
                                                    De acuerdo a su consumo promedio diario de Gas, le surtiremos nuevamente el Jueves 25 de Marzo de 2021.
                                                    Para saber más acerca de nuestro sistema SUMA PUNTOS, consulte nuestro siti web o síganos en Facebook. <br>
                                                    Muchas gracias por su preferencia.
                                                </p>
                                            </div>
                                        </td>
                                    </tr>


                                     <!-- Redes sociales -->
                                     <tr class="tr-2">
                                        <td align="center" class="td1">
                                            <a class="socialLinks" href="https://www.facebook.com/GaspasaContigo" target="_blank">
                                                <img class="socialIcon" src="assets/img/fb.png" width="60" />
                                            </a>
                                            <a class="socialLinks" href="https://www.instagram.com/gaspasa_contigo_siempre/" target="_blank">
                                                <img class="socialIcon" src="assets/img/ig.png" width="60"/>
                                            </a>
                                            <a class="socialLinks" href="https://www.gaspasa.com.mx/" target="_blank"> 
                                                <img class="socialIcon" src="assets/img/web.png" width="60"/>
                                            </a>
                                            <a class="socialLinks" href="https://wa.me/526691010101" target="_blank"> 
                                                <img class="socialIcon" src="assets/img/whatsapp.png" width="60" />
                                            </a>
                                        </td>
                                    </tr>


                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">

        const grafica1_length = 266;
        const grafica1_height = 180;        

        var ctx1 = document.getElementById("grafica1");
        var grafica1 = new Chart(ctx1, {
            type: 'bar',
            data: {
                labels: ['Enero','Febrero','Marzo','Abril','Mayo'],
                datasets: [{
                    label: 'Litros surtidos',
                    data: [155, 161, 135, 28, 180],
                    backgroundColor: '#FF941B',
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });



        var ctx2 = document.getElementById("grafica2");
        var grafica2 = new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes'],
                datasets: [{
                    label: 'Consumo promedio diario',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: '#004EFD',
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        
        var ctx = document.getElementById('myChart');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio'],
                datasets: [{
                    label: 'Historial de existencia de gas',
                    data: [85, 30, 90, 20, 70, 10],
                    backgroundColor: '#FF941B',
                    borderColor: '#FF941B', 
                    borderWidth: 1,
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });


    </script>
</html>
