.socialIcon{
                
    outline: none;
    text-decoration: none;
    -ms-interpolation-mode: bicubic;
    border: none;
    text-align: center;
    display: block;
    width: 50%;
}
.links{
   text-decoration: none;
}
#mainTable{
    /*border-collapse: collapse; 
    border-spacing: 0; 
    margin: 0 auto; 
    padding: 0;
    /*height: 100vh; 
    
    background-color: white;*/

    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;

}

.logo{
    width: 260px;
    height: 150px;
    margin: 0; 
    padding: 0; 
    outline: none; 
    text-decoration: none; 
    -ms-interpolation-mode: bicubic; 
    border: none; 
    display: block;
}
.button-gaspasa {
   background-color: #f4ab0b;
   border: none;
   color: white;
   padding: 8px 21px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   margin: 4px 3px;
   cursor: pointer;
   width: 100%;
 }

 .button-diesgas{
    background-color: #F63440;
    border: none;
    color: white;
    padding: 8px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 3px;
    cursor: pointer;
    width: 100%;
 }

 .button-caligas{
    background-color: #F63440;
    border: none;
    color: white;
    padding: 8px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 3px;
    cursor: pointer;
    width: 100%;
 }

 body{
    margin: 0;
    padding: 0;
    background: #ecf2f7;
    -webkit-text-size-adjust: none;
 }
 .tdTable{
    border-collapse: collapse; 
    border-spacing: 0; 
    margin: 0; 
    padding: 0;
}