*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;;
}
body p{
    font-size: calc(1.5vh + (.3*1vw - .1*1vw));
}
body td{
    font-size: calc(1.5vh + (.3*1vw - .1*1vw));
}
.container{
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    text-align: justify;
}
.item-2{
    width: 50%;
    min-width: 399px;
    height: auto;
    margin: 1em 0 1em 0;
}
.item-1{
    width: 100%;
    margin: 1em 0 1em 0;
    padding: 0 1.5em 0 1.5em;
}
.item-1-1{
    width: 52%;
    min-width: 399px;
    height: auto;
    margin: 1em 0 1em 0;
}
.text-center{
    text-align: center;
}



.bold{
    font-weight: 600;
}
.table-cargos {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    /* font-size: 16px; */
}

.table-cargos td, .table-cargos th {
    border: 1px solid rgba(255, 159, 64, 1);
    padding: 2px;
}

/* .table-cargos tr:nth-child(even){background-color: #f2f2f2;} */

/* .table-cargos tr:hover {background-color: #ddd;} */

.table-cargos th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    /* background-color: #EC880E; */
    background-color: rgba(255, 159, 64, 0.2);
    color: rgba(213, 120, 28, 0.9);
    font-weight: bolder;

}

.table-other {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    /* font-size: 16px; */
}

.table-other td:first-child {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background-color: rgba(255, 159, 64, 0.2);
    color: rgba(213, 120, 28, 0.9);
    font-weight: bolder;
}

.table-other td, .table-other th {
    /* border: 1px solid #ddd;
    padding: 2px; */
    /* background-color: rgba(255, 159, 64, 0.2);
    color: rgba(213, 120, 28, 0.9); */
    border: 1px solid rgba(255, 159, 64, 1);
    padding: 2px;
}



.card{
    margin-left: 15px;
    border: 1px solid rgba(255, 159, 64, 1);
}

.card p{
    /* font-size: 17px; */
    padding: 0px 15px 0px 15px;
    margin: 0px;
}
.cochito{
    display: flex;
    justify-content: center;
}

.section-links{
    display: flex;
    justify-content: center;
}
.links{
    position: relative;
    display: flex;

    justify-content: space-around;
}
.socialLinks{
    display: block;
    margin: 0 10px 0 10px;
    text-decoration: none;
}
.socialLinks img{
    max-width: 60px;
    width: 100%;
    cursor: pointer;
}