*{
    margin: 0;
    padding: 0;
}
html body{
    font-family: sans-serif;
    color: #000;
}
.container{
    position: relative;
    width: 80%;
    max-width: 750px;
    margin: 0 auto;
    min-height: 100vh;
    height: auto;

    display: grid;
    grid: auto / 1fr;
    justify-content: center;
}
.text-justify{
    text-align: justify;
}

div{
    margin-top: 1.2em;
}
div:first-child{
    margin-top: 0px;
}
div:last-child{
    margin-bottom: .5em;
}

table{
    margin: 0 auto;
    max-width: 500px;
}
.img-tanque{
    max-width: 500px;
    width: 50%;
}
.img-logo{
    width: auto;
    max-width: 750px;
}
.img-dibujo img{
    display: block;
    margin: 0 auto;
}
.cochito{
    max-width: 200px;
}

.text-center{
    text-align: center;
}
.bold{
    font-weight: 600;
}
p{
    margin: 0 auto;
    max-width: 700px;
    text-align: justify;
}
.table-cargos {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table-cargos td, .table-cargos th {
    border: 1px solid rgba(255, 159, 64, 1);
    padding: 2px;
}

.table-cargos th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgba(255, 159, 64, 0.2);
    color: rgba(213, 120, 28, 0.9);
    font-weight: bolder;

}

.table-other {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table-other td:first-child {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background-color: rgba(255, 159, 64, 0.2);
    color: rgba(213, 120, 28, 0.9);
    font-weight: bolder;
}

.table-other td, .table-other th {
    border: 1px solid rgba(255, 159, 64, 1);
    padding: 2px;
}



.card{
    display: block;
    margin: 0 auto;
    border: 1px solid rgba(255, 159, 64, 1);
    max-width: 500px;
}

.card p{
    padding: 0px 15px 0px 15px;
    margin: 0px;
}

.socialLinks{
    text-decoration: none;
}