*{
    margin: 0;
    padding: 0;
}
.container{
    position: relative;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    min-height: 100vh;
    height: auto;
    /* background: cadetblue; */

    /* --auto-grid-min-size: 300px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: .1rem;    */
    
    display: grid;
    grid: auto / 1fr;
    justify-content: center;
    /* text-align: center; */
}
.grid-2{
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: auto;
    grid-row-end: auto;
    /* background-color: brown; */
    border: 1px solid black;
    /* margin: .1em; */
}
.grid-1{
    /* grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: auto;
    grid-row-end: auto; */
    /* background-color: brown; */
    border: 1px solid black;
    /* margin: .1em; */
}
.text-justify{
    text-align: justify;
}