.table-container{
    border-collapse: collapse; 
    border-spacing: 0; 
    padding: 0; 
    width: inherit;
    background-color: white;
}
.table{
    border-collapse: collapse; 
    border-spacing: 0; 
    padding: 0; 
    width: 100%;
    max-width: 800px;
    background-color: white;
}
.td{
    margin: 0; 
    padding-top: 25px; 
    line-height: 2.1em;  
    font-family: sans-serif;
}
.socialIcon{
    padding: 0;
    outline: none;
    text-decoration: none;
    -ms-interpolation-mode: bicubic;
    border: none;
    display: block;
    cursor: inherit;
}
.socialLinks{
    display: block;
    margin: 0 10px 0 10px;
    text-decoration: none;
}
.socialLinks img{
    max-width: 60px;
    width: 100%;
    cursor: pointer;
}
#mainTable{
    border-collapse: collapse; 
    border-spacing: 0; 
    margin: 0 auto; 
    padding: 0; 
    /* width: 800px; */
}
.logo{
    width: 260px;
    height: 150px;
    margin: 0; 
    padding: 0; 
    outline: none; 
    text-decoration: none; 
    -ms-interpolation-mode: bicubic; 
    border: none; 
    display: block;
}
body{
    font-family: sans-serif; 
    font-size: 18px !important; 
    line-height: 1.4em; 
    /* color: #135eac;   */
    color: #000;
}
p {
    color: #000;
    line-height: 1.7rem;
    text-align: justify;
}
.tr-2{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}
.tr-2 > td.td3{
    width: 33.33333%;
    padding: 0px;
    margin: 0px;
    /* background-color: gray; */
    text-align: center;
    /* border: solid 2px black; */
}
.tr-2 > td.td2{
    width: 50%;
    padding: 0px;
    margin: 0px;
    /* background-color: gray; */
    text-align: center;
    overflow: hidden;
}
.tr-2 > td.td1{
    width: 55%;
    padding: 0px;
    margin: 0px;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.table-cargos {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
}

.table-cargos td, .table-cargos th {
    border: 1px solid rgba(255, 159, 64, 1);
    padding: 2px;
}

/* .table-cargos tr:nth-child(even){background-color: #f2f2f2;} */

/* .table-cargos tr:hover {background-color: #ddd;} */

.table-cargos th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    /* background-color: #EC880E; */
    background-color: rgba(255, 159, 64, 0.2);
    color: rgba(213, 120, 28, 0.9);
    font-weight: bolder;

}

.table-other {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
}

.table-other td:first-child {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background-color: rgba(255, 159, 64, 0.2);
    color: rgba(213, 120, 28, 0.9);
    font-weight: bolder;
}

.table-other td, .table-other th {
    /* border: 1px solid #ddd;
    padding: 2px; */
    /* background-color: rgba(255, 159, 64, 0.2);
    color: rgba(213, 120, 28, 0.9); */
    border: 1px solid rgba(255, 159, 64, 1);
    padding: 2px;
}

.h4{
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px;
}

.card{
    margin-left: 15px;
    border: 1px solid rgba(255, 159, 64, 1);
}

.card p{
    font-size: 17px;
    padding: 0px 15px 0px 15px;
    margin: 0px;
}

/* canvas {
    border: solid 1px black ;
} */
@media (max-width: 379px) {
    .tr-2 > td.td3{
        width: 60%;
        margin: 1em 0 1em 0;
    }
    .tr-2 > td.td3.tanque{
        width: 70%;
    }
    .tr-2 > td.td2{
        width: 90%;
        margin: 1em 0 1em 0;
    }
    .tr-2 > td.td2.p{
        width: 100%;
    }
    .tr-2 > td.td1{
        width: 100%;
    }
    .card{
        margin: 0px;
    }
    p {
        font-size: 1.0rem;
        line-height: normal;
    }
    span {
        font-size: 1.0rem;
        line-height: normal;
    }
    .card p{
        font-size: 1rem;
    }
}
@media (min-width: 380px) and (max-width: 455px) {
    .tr-2 > td.td3{
        width: 50%;
        margin: 1em 0 1em 0;
    }
    .tr-2 > td.td3.tanque{
        width: 60%;
    }
    .tr-2 > td.td2{
        width: 87%;
        margin: 1em 0 1em 0;
    }
    .tr-2 > td.td2.p{
        width: 100%;
    }
    .tr-2 > td.td1{
        width: 100%;
    }
    .card{
        margin: 0px;
    }
    p {
        font-size: 1.0rem;
        line-height: normal;
    }
    span {
        font-size: 1.0rem;
        line-height: normal;
    }
    .card p{
        font-size: 1rem;
    }
}

@media (min-width: 456px) and (max-width: 575px) {
    .tr-2 > td.td3{
        width: 50%;
        margin: 1em 0 1em 0;
    }
    .tr-2 > td.td2{
        width: 80%;
        margin: 1em 0 1em 0;
    }
    .tr-2 > td.td2.p{
        width: 100%;
    }
    .card{
        margin: 0px;
    }
    p {
        font-size: 1.1rem;
    }
    span {
        font-size: 1.1rem;
    }
    .card p{
        font-size: 1.1rem;
    }
    
}

@media (min-width: 576px) and (max-width: 767px) {
    .tr-2 > td.td3{
        width: 40%;
        margin: 1em 0 1em 0;
    }
    .tr-2 > td.td2{
        width: 60%;
        margin: 1em 0 1em 0;
    }
    .tr-2 > td.td2.p{
        width: 100%;
    }
    .card{
        margin: 0px;
    }
    
    .card p{
        font-size: 17px;
        padding: 0px 15px 0px 15px;
        margin: 0px;
    }
}

@media (min-width: 768px) and (min-width: 991px) {
    .table{
        width: 100%;
        max-width: 800px;
    }
}

@media (min-width: 992px) and (min-width: 1199px) {
    .table{
        width: 100%;
        max-width: 800px;
    }
    
}

@media (min-width: 1200px) {
    .table{
        width: 100%;
        max-width: 800px;
    }
}