<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/styles-flex.css">
    <title>Grid</title>
</head>
<body>
    <div class="container">
        <div class="item-1">
            <a class="links" href="{{ url('/') }}">
                <img src="assets/img/logo-lineas_1.svg"/>
            </a>
            <p class="bold"> 
                Estimado(a): MARCIA JIMENEZ MORENO ROMERO
            </p>
            <p>
                Agradecemos su compra hecha el día 02 de agosto de 2021, por un importe de $1561.20. Le fueron surtidos
                117.60 litros de gas tratado con nuestro exclusivo aditivo, el cual mejora sustancialmente la combustión del
                gas brindandole considerables ahorros para beneficio de su economía.
            </p>
        </div>
        <div class="item-2">
            <img src="assets/img/tanque.svg" alt="">
        </div>
        <div class="item-2">
            <img src="assets/img/tanque.svg" alt="">
        </div>
        <div class="item-1-1">
            <img src="assets/img/tanque.svg" alt="">
        </div>
        <div class="item-2">
            <p>
                De acuerdo a nuestro sistema de pagos, esta compra será cargada a su TARJETA DE CREDITO SANTANDER MEXICANO en 2 pagos, en las siguientes fechas: 
            </p>
        </div>
        <div class="item-2">
            <img src="assets/img/tanque.svg" alt="">
        </div>
        <div class="item-2">
            <p style="text-align: center; padding: 0; line-height: 1rem;">SUMA PUNTOS</p><br>
            <table class="table-cargos">
                <thead>
                    <tr>
                        <th>Cargo</th>
                        <th>Fecha</th>
                        <th>Importe</th>
                        <th>Uso sistema</th>
                        <th>Total</th>
                    </tr>                                                    
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>29-10-2021</td>
                        <td>50.25</td>
                        <td>11.54</td>
                        <td>61.79</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>29-10-2021</td>
                        <td>50.25</td>
                        <td>11.54</td>
                        <td>61.79</td>
                    </tr>
                </tbody>
            </table>  
            <br>
            <p style="text-align: center; padding: 0; line-height: 1rem;">ESTADO DE CUENTA</p> <br>  
            <table class="table-other">
                <tbody>
                    <tr>
                        <td>Anteriores:</td>
                        <td>61.79</td>
                    </tr>
                    <tr>
                        <td>Se acumularan:</td>
                        <td>61.79</td>
                    </tr>
                    <tr>
                        <td>Saldo nuevo:</td>
                        <td>61.79</td>
                    </tr>
                </tbody>
            </table>     
        </div>
        <div class="item-2">
            <div class="card">
                <p class="bold text-center">Puntos acumulados</p>
                <p>
                    Por esta compra usted acumulará 0 puntos más,
                    una vez que hayan sido realizados todos los
                    pagos oportunamente. Recuerde que al acumular
                    50 puntos los podrá canjear por 50 litros de 
                    ¡Gas Gratis!
                </p>
                <br>
                <div class="cochito">
                    <img src="assets/img/cochito.svg" alt="" width="200px">
                </div>
            </div>
        </div>
        <div class="item-1">
            <p class="msj-inicio">                                                                                                        
                De acuerdo a su consumo promedio diario de Gas, le surtiremos nuevamente el Jueves 25 de Marzo de 2021.
                Para saber más acerca de nuestro sistema SUMA PUNTOS, consulte nuestro siti web o síganos en Facebook. <br>
                Muchas gracias por su preferencia.
            </p>
        </div>
        <div class="item-1">
            <div class="section-links">
                <div class="links">
                    <a class="socialLinks" href="https://www.facebook.com/GaspasaContigo" target="_blank">
                        <img class="socialIcon" src="assets/img/fb.png" width="60" />
                    </a>
                    <a class="socialLinks" href="https://www.instagram.com/gaspasa_contigo_siempre/" target="_blank">
                        <img class="socialIcon" src="assets/img/ig.png" width="60"/>
                    </a>
                    <a class="socialLinks" href="https://www.gaspasa.com.mx/" target="_blank"> 
                        <img class="socialIcon" src="assets/img/web.png" width="60"/>
                    </a>
                    <a class="socialLinks" href="https://wa.me/526691010101" target="_blank"> 
                        <img class="socialIcon" src="assets/img/whatsapp.png" width="60" />
                    </a>
                </div>                
            </div>            
        </div>
    </div>    
</body>
</html>