body{
  margin: 0;
  font-family: 'Permanent Marker', cursive;
}

.content{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: center;
  background-image: linear-gradient(40deg,rgb(48, 48, 197) , rgb(199, 99, 116));
}

.section{
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.9rem;
}

.btn{
  width: fit-content;
  padding: .9rem 3rem;
  font-size: 1.2rem;
  border: unset;
  border-radius: 7px;
  background-color: rgb(31, 29, 29);
  color : #fff;
  cursor: pointer;
}